body {
    background-color: AliceBlue;
}

.menu {
    background-color: DarkSeaGreen;
}

.team-wrapper {
    text-align: center;
    display: inline-block;
}

.card-wrapper {
    background-color: DarkSlateGray;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
}

.card-wrapper h2 {
    color: Orange;
    font-family: Georgia, serif;
}
.card-box1, .card-box2 {
    background-color: LightGray;
    width: 49%;
    border-radius: 5px;
    float:left;
}

/*
images/Aliens.png"
images/Killer_Plants.png"
images/Miskatonic_University-0.png
images/Kung_Fu.png"
images/Robots.png"
images/Thieves.png"
*/

.card-box {
    padding: 0 30px 30px 30px;
    box-sizing: border-box;
    max-width: 180px;
}

.card-box .ratio {
    padding-bottom: calc(140%);
    height: 0;
    background-color: LightGray;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-aliens {
    background-image: url('../images/Aliens.png')
}

.icon-killer-plants {
    background-image: url('../images/Killer_Plants.png')
}

.icon-university {
    background-image: url('../images/Miskatonic_University-0.png')
}

.icon-kung-fu {
    background-image: url('../images/Kung_Fu.png')
}

.icon-robots {
    background-image: url('../images/Robots.png')
}

.icon-thieves {
    background-image: url('../images/Thieves.png')
}

.card-box2 {
    float: right;
}

.title {
    text-align: center;
    display: block;
    /* min-height: 30%; */
}

.card-box--title {
    min-height: 50px;
    display: grid;
    place-items: center;
}

.icon {
    display: block;
    height: 50%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*
570: 149*213
667: 176*251
736: 195*278
*/

/*
@media only screen and (min-width: 560px) {

    .card-wrapper {
        display: inline-block;
    }

    .card-box {
        #width: 195px;
        #height: 278px;
        #padding-bottom: 0;
        #margin 0 auto;
    }

    .card-box2 {
        #margin-left: 5px;
    }

}
/*
@media only screen and (min-width: 730px) {
    .card-box {
        width: 176px;
        height: 251px;
    }
}
@media only screen and (min-width 800px) {
    .card-box {
        width: 195px;
        height: 278px;
    }
}
*/
