body {
    background-color: AliceBlue;
}

.menu {
    background-color: DarkSeaGreen;
}

.team-wrapper {
    text-align: center;
}

.card-wrapper {
    background-color: DarkSlateGray;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
}

.card-wrapper h2 {
    color: Orange;
    font-family: Georgia, serif;
}

.card-box {
    background-color: LightGray;
    width: 49%;
    border-radius: 5px;
    #padding: 0 5% 30px 5%;
    padding: 0 7%;
    box-sizing: border-box;
    float: left;
}

.card-box.align-right {
    float: right;
}

.card-box .ratio {
    padding-bottom: calc(100%);
    margin-bottom: 40%;
    height: 0;
    background-color: LightGray;
    background-size: contain;
    background-position: 50% 30%;
    background-repeat: no-repeat;
}

.title {
    text-align: center;
    display: block;
}

.card-box--title {
    min-height: 50px;
    display: grid;
    place-items: center;
}

/*
570: 149*213
667: 176*251
736: 195*278
*/

@media only screen and (min-width: 560px) {
    .card-wrapper {
        display: inline-block;
    }

    .card-box {
        width: 195px;
        padding-bottom: 0;
        margin 0 auto;
    }

    .card-box.align-right {
        margin-left: 6px;
    }
}
